#outside_box{
    width: 400px;
    height:300px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: blanchedalmond;
}
#inside_box{
    width: 340px;
    height:240px;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: gray;
}
#time{
    width: 100%;
    height: 200px;
    color: aquamarine;
    font-size: 55px;
    font-family: 'Saira Stencil One', cursive;
    background: red;
    line-height: 200px;
}
#date{
    height: 40px;
    background: yellowgreen;
    font-size: 22px;
    font-family: 'Saira Stencil One', cursive;
}
#setTime,#setDate{
    margin:0px;
}
input[type="color" i] {
    border: 0px solid black;
    background-color: black;
}